.intro{
    background-color: rgb(235, 181, 101);
}

header h1{
   height: 2000px;
   margin: 500px; 

}

header nav ul{

    margin: 0%;
    padding: 0%;
    list-style: none;
    display: flex;
    gap: 20px;
}